kote/workflow.json
{
  "name": "КотЭ — AI Агент с памятью",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "tg-trigger",
      "name": "📱 Telegram",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [200, 400],
      "webhookId": "kote",
      "credentials": {
        "telegramApi": { "id": "REPLACE_ME", "name": "КотЭ Bot" }
      }
    },
    {
      "parameters": {
        "jsCode": "const tg = $input.first().json;\nconst msg = tg.message || tg.edited_message;\nif (!msg) return [];\nconst text = (msg.text || msg.caption || '').trim();\nif (!text || (msg.from && msg.from.is_bot)) return [];\nconst from = msg.from || {};\nreturn [{ json: {\n  tg_chat_id: String(msg.chat.id),\n  message_text: text,\n  name: [from.first_name, from.last_name].filter(Boolean).join(' ') || 'Гость',\n  language: from.language_code || 'ru'\n}}];"
      },
      "id": "extract",
      "name": "📝 Извлечь",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/clients",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tg_chat_id\": \"{{ $json.tg_chat_id }}\",\n  \"name\": \"{{ $json.name }}\",\n  \"language\": \"{{ $json.language }}\",\n  \"source\": \"telegram\",\n  \"first_contact\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "upsert-client",
      "name": "👤 Upsert клиент",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/rpc/get_kote_context",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_tg_chat_id\": \"{{ $('📝 Извлечь').first().json.tg_chat_id }}\" }",
        "options": {}
      },
      "id": "get-context",
      "name": "🧠 Загрузить контекст",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 400]
    },
    {
      "parameters": {
        "jsCode": "const ctx = Array.isArray($input.first().json) ? $input.first().json[0] : $input.first().json;\nconst extracted = $('📝 Извлечь').first().json;\nconst msg = extracted.message_text;\n\n// Build client_memory block\nconst lines = [];\nif (ctx.client_name) lines.push(`Имя: ${ctx.client_name}`);\nif (ctx.client_stage && ctx.client_stage !== 'new') lines.push(`Стадия: ${ctx.client_stage}`);\nif (ctx.client_country) lines.push(`Страна: ${ctx.client_country}`);\nif (ctx.interests && ctx.interests.length) lines.push(`Интересы: ${ctx.interests.join(', ')}`);\nif (ctx.budget_level && ctx.budget_level !== 'medium') lines.push(`Бюджет: ${ctx.budget_level}`);\nif (ctx.travel_style) lines.push(`Стиль: ${ctx.travel_style}`);\nif (ctx.last_tour_viewed) lines.push(`Последний тур: ${ctx.last_tour_viewed}`);\nif (ctx.tours_viewed && ctx.tours_viewed.length) lines.push(`Смотрел туры: ${ctx.tours_viewed.join(', ')}`);\nif (ctx.tours_booked && ctx.tours_booked.length) lines.push(`Забронировал: ${ctx.tours_booked.join(', ')}`);\nconst clientMemory = lines.length ? lines.join('\\n') : 'Новый клиент, данных пока нет.';\n\n// Build last_conversations block\nlet lastConvs = 'Первое обращение.';\ntry {\n  const convs = typeof ctx.last_conversations === 'string'\n    ? JSON.parse(ctx.last_conversations)\n    : (ctx.last_conversations || []);\n  if (convs && convs.length) {\n    lastConvs = convs.slice(0, 5).reverse().map(c =>\n      `Клиент: ${c.msg}\\nКотЭ: ${c.res}`\n    ).join('\\n---\\n');\n  }\n} catch(e) {}\n\nreturn [{ json: {\n  tg_chat_id: extracted.tg_chat_id,\n  message_text: msg,\n  client_id: ctx.client_id,\n  client_name: ctx.client_name,\n  client_stage: ctx.client_stage || 'new',\n  is_new_client: ctx.is_new_client || false,\n  client_memory: clientMemory,\n  last_conversations: lastConvs\n}}];"
      },
      "id": "build-prompt",
      "name": "✍️ Собрать промпт",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=REPLACE_WITH_GEMINI_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"systemInstruction\": {\n    \"parts\": [{ \"text\": {{ JSON.stringify(\n      \"Ты КотЭ — дружелюбный помощник компании 'Нестандартный Отдых'.\\nПомогаешь туристам выбрать и забронировать экскурсии на Пхукете и в Паттайе.\\n\\nПАМЯТЬ О КЛИЕНТЕ:\\n\" + $json.client_memory +\n      \"\\n\\nИСТОРИЯ ПОСЛЕДНИХ СООБЩЕНИЙ:\\n\" + $json.last_conversations +\n      \"\\n\\nЗАДАЧА:\\n- Продолжай диалог как знакомый помощник\\n- Учитывай прошлые интересы — не спрашивай второй раз\\n- Предлагай конкретные туры с ценой\\n- Мягко веди к бронированию без давления\\n\\nСТИЛЬ: короткие сообщения (2-4 предложения), спокойный уважительный тон, иногда эмодзи 🌊🏝️⛵\\n\\nТУРЫ ПХУКЕТ: Джеймс Бонд 2500₽, Пхи-Пхи+Бамбу 3200₽, Симиланские 4500₽, МотоТур 2200₽, Рафтинг+Слоны+ATV 4200₽, Гиббон 3600₽, Као Сок 2дня 6500₽, Яхта 25000₽, VIP 12000₽/день, Фаер-шоу 1800₽\\nТУРЫ ПАТТАЙЯ: Ко Лан 2400₽, Закат на катамаране 3600₽, Тиффани 2500₽, Сафари Кхао Кхео 2800₽, Нонг Нуч 1800₽, Рамаяна 2200₽\\n\\nДЛЯ БРОНИ: https://nestandart-phuket.ru или @phuket_nestandart_bot\\nЗАПРЕЩЕНО: давление, срочность, манипуляции\"\n    ) }}] }\n  },\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [{ \"text\": {{ JSON.stringify($json.message_text) }} }]\n    }\n  ],\n  \"generationConfig\": {\n    \"maxOutputTokens\": 300,\n    \"temperature\": 0.75\n  }\n}",
        "options": {}
      },
      "id": "gemini",
      "name": "🤖 Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 400]
    },
    {
      "parameters": {
        "jsCode": "const ai = $input.first().json;\nconst prev = $('✍️ Собрать промпт').first().json;\nconst reply = ai.candidates?.[0]?.content?.parts?.[0]?.text || 'Извините, не смог ответить. Попробуйте позже.';\nreturn [{ json: { ...prev, ai_reply: reply } }];"
      },
      "id": "extract-reply",
      "name": "💬 Достать ответ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 400]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_chat_id }}",
        "text": "={{ $json.ai_reply }}",
        "additionalFields": { "parse_mode": "HTML" }
      },
      "id": "send-tg",
      "name": "📤 Отправить",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1880, 400],
      "credentials": {
        "telegramApi": { "id": "REPLACE_ME", "name": "КотЭ Bot" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"message\": {{ JSON.stringify($json.message_text) }},\n  \"response\": {{ JSON.stringify($json.ai_reply) }},\n  \"source\": \"telegram\"\n}",
        "options": {}
      },
      "id": "save-conv",
      "name": "💾 Сохранить диалог",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1880, 600]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst text = (d.message_text || '').toLowerCase();\n\nconst interests = [];\nif (/остров|море|пляж|пхи|симил|джеймс|снорклинг|яхт|морск/i.test(text)) interests.push('islands');\nif (/актив|рафтинг|atv|квадро|мото|зиплайн|гиббон|слон|адренал/i.test(text)) interests.push('active');\nif (/природ|джунгли|као.*сок|водопад|лес|нацпарк/i.test(text)) interests.push('nature');\nif (/вечер|шоу|фаер|тиффани|муай|бокс|закат/i.test(text)) interests.push('evening');\nif (/дети|ребенок|семья|детей|малыш|семейн/i.test(text)) interests.push('family');\nif (/vip|яхта|премиум|luxury/i.test(text)) interests.push('vip');\n\nlet budget = null;\nif (/дорого|бюджет|дешев|экономн/i.test(text)) budget = 'low';\nif (/vip|не.*дорог|деньги.*не.*вопрос/i.test(text)) budget = 'vip';\n\nlet stage = null;\nif (/забронир|оформ|хочу.*(тур|брон)|запис|оплат/i.test(text)) stage = 'booking';\nelse if (/потом|подумаю|позже|не.*сейчас|может/i.test(text)) stage = 'thinking';\nelse if (/не.*(нужно|надо|хочу|интересн)|нет.*спасибо/i.test(text)) stage = 'cold';\nelse if (interests.length || budget) stage = 'interest';\n\n// last viewed tour\nlet lastTour = null;\nconst tourMap = [\n  [/джеймс.*бонд|james/i, 'james'],\n  [/пхи.пхи|phiphi/i, 'phiphi-bamboo'],\n  [/симилан/i, 'similan'],\n  [/мото.?тур|мотоцикл/i, 'moto'],\n  [/рафтинг|slony|слон.*atv/i, 'raft'],\n  [/гиббон|зиплайн/i, 'gibbon'],\n  [/као.*сок/i, 'khaosok2'],\n  [/яхт/i, 'yacht'],\n  [/vip.*сопров/i, 'vip'],\n  [/фаер.*шоу|fire/i, 'fire'],\n  [/ко.*лан|kolan/i, 'kolan'],\n  [/тиффани/i, 'tiffany']\n];\nfor (const [re, slug] of tourMap) {\n  if (re.test(text)) { lastTour = slug; break; }\n}\n\nreturn [{ json: {\n  client_id: d.client_id,\n  tg_chat_id: d.tg_chat_id,\n  interests: interests.length ? interests : null,\n  budget_level: budget,\n  new_stage: stage,\n  last_tour_viewed: lastTour,\n  has_updates: !!(interests.length || budget || stage || lastTour)\n}}];"
      },
      "id": "detect-intent",
      "name": "🔍 Интент",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.has_updates }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-update",
      "name": "❓ Есть обновления?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2360, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/rpc/upsert_client_memory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_client_id\": \"{{ $json.client_id }}\",\n  \"p_interests\": {{ $json.interests ? JSON.stringify($json.interests) : 'null' }},\n  \"p_budget_level\": {{ $json.budget_level ? JSON.stringify($json.budget_level) : 'null' }},\n  \"p_last_intent\": {{ $json.new_stage ? JSON.stringify($json.new_stage) : 'null' }},\n  \"p_last_tour_viewed\": {{ $json.last_tour_viewed ? JSON.stringify($json.last_tour_viewed) : 'null' }}\n}",
        "options": {}
      },
      "id": "update-memory",
      "name": "📊 Обновить память",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/rpc/update_client_stage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_tg_chat_id\": \"{{ $json.tg_chat_id }}\",\n  \"p_stage\": \"{{ $json.new_stage }}\"\n}",
        "options": {}
      },
      "id": "update-stage",
      "name": "🎯 Обновить стадию",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2600, 700]
    }
  ],
  "connections": {
    "📱 Telegram": {
      "main": [[{ "node": "📝 Извлечь", "type": "main", "index": 0 }]]
    },
    "📝 Извлечь": {
      "main": [[{ "node": "👤 Upsert клиент", "type": "main", "index": 0 }]]
    },
    "👤 Upsert клиент": {
      "main": [[{ "node": "🧠 Загрузить контекст", "type": "main", "index": 0 }]]
    },
    "🧠 Загрузить контекст": {
      "main": [[{ "node": "✍️ Собрать промпт", "type": "main", "index": 0 }]]
    },
    "✍️ Собрать промпт": {
      "main": [[{ "node": "🤖 Gemini", "type": "main", "index": 0 }]]
    },
    "🤖 Gemini": {
      "main": [[{ "node": "💬 Достать ответ", "type": "main", "index": 0 }]]
    },
    "💬 Достать ответ": {
      "main": [[
        { "node": "📤 Отправить", "type": "main", "index": 0 },
        { "node": "💾 Сохранить диалог", "type": "main", "index": 0 }
      ]]
    },
    "💾 Сохранить диалог": {
      "main": [[{ "node": "🔍 Интент", "type": "main", "index": 0 }]]
    },
    "🔍 Интент": {
      "main": [[{ "node": "❓ Есть обновления?", "type": "main", "index": 0 }]]
    },
    "❓ Есть обновления?": {
      "main": [
        [
          { "node": "📊 Обновить память", "type": "main", "index": 0 },
          { "node": "🎯 Обновить стадию", "type": "main", "index": 0 }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "КотЭ" }, { "name": "Telegram" }, { "name": "AI" }]
}
